h2 {
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    margin: 20px;
display: flex;
justify-content: center;
}
p {
font-family: cursive;
font-size: 10pt;
display: flex;
justify-content: center;
}

.posts {
    margin: 20px;
}